{% extends "home/content-page-template.html" %}

{% load staticfiles multilingual %}

{% block title %}Access to ano ano galerie{% endblock %}
{% block multilingual_titles %}
  {% ml en="Access to ano ano galerie" ja="アノアノ・ギャラリーにアクセス" %}
{% endblock multilingual_titles %}


{% block styles %}
<link rel="stylesheet/less" type="text/css"
      href="{% static 'home/styles/pages/access.less' %}" />
{% endblock styles %}


{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <p>
        {% comment %}
        {% endcomment %}

        <span id="open-label">Open</span>
        <span id="open-info">
          {% ml en="January 14<sup>th</sup> &ndash; 26<sup>th</sup>, 3pm &ndash; 8pm" ja="1月 14日&ndash;26日, 15:00 &ndash; 20:00" %}
        </span>
      </p>

      <hr />

      <p>
        <span class="address">
          {% ml en="2 Chome-37-11 Minamiōtsuka, Toshima-ku, Tōkyō-to, 〒170-0005" ja="〒170-0005 豊島区南大塚 2-37-11　ハイムセクオイア 1F" %}
        </span>
        {% comment %}
        <a class="btn" id="address-copier">
          {% ml en="Copy address" ja="住所をコピー" %}
        </a>
        {% endcomment %}
      </p>

      <p>
        <a class="btn btn-default" target="_blank"
           href="http://www.google.com/maps?q=〒170-0005 豊島区南大塚 2-37-11">
          Google Maps &raquo;
        </a>
        &nbsp;
        <a class="btn btn-default" target="_blank"
           href="http://binged.it/1aCGf4J">
          Bing Maps &raquo;
        </a>
      </p>

      <hr />

      <p class="numbers">
        <div class="row">
          <div class="col-md-5">
            <span class="telephone">
              <span id="telephone-label">tel</span>
              <span id="telephone-info">
                <a href="tel:0339413791">03-3941-3791</a>
              </span>
            </span>
          </div>
          <div class="col-md-5">
            <span class="fax">
              <span id="fax-label">fax</span>
              <span id="fax-info">
                <a href="fax:0339427966">03-3942-7966</a>
              </span>
            </span>
          </div>
        </div>
      </p>

    </div>

    <div class="col-md-6">
      <p id="simple-map">
        <img src="{% static 'home/images/map.jpg' %}" />
      </p>
    </div>
    
  </div>
</div>

      {% multilingual %}
        {% mlpart "en" %}
        {% endmlpart %}
        {% mlpart "ja" %}
        {% endmlpart %}
      {% endmultilingual %}

{% endblock main_content %}

{% block postscripts %}
<script>
$("#address-copier").click( function() {
  var address_text = $(".address .ml-on").text();
  alert( address_text );
});
</script>
{% endblock postscripts %}
