{% extends "home/content-page-template.html" %}

{% load staticfiles multilingual %}

{% block title %}The ano ano concept{% endblock %}
{% block multilingual_titles %}
  {% ml en="The ano ano concept" ja="アノアノのコンセプト" %}
{% endblock multilingual_titles %}

{% block styles %}
  <link rel="stylesheet/less" type="text/css"
        href="{% static 'home/styles/pages/concept.less' %}" />
{% endblock styles %}

{% block main_content %}
<div class="container">

  <div class="row visible-xs">
    <div class="col-md-12">
      <div class="concept-image">
        <img src="{% static 'home/images/concept-image.jpg' %}" />
      </div>
    </div>
  </div>
        
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div id="concept-text">
        {% multilingual %}
          {% mlpart "en" %}
            Being asked<br />
            “Why?”<br />
            You may feel hesiteted a bit<br />
            Thinking must be stopped<br />
            Before arising answers to why<br />
            There is a gap<br />
            In its gap the truth is hidden<br />
            Try not to find the answer<br />
            Stay in a moment before words come up<br />
            Hold yourself inside deep<br />
            It is beauty, isn’t it?<br />
            Those gaps are more real than words<br />
            Creating arts<br />
            Seeing arts<br />
            Why?<br />
            Go in staying questioning<br />
            The beauty is hidden in the subtle gaps
          {% endmlpart %}
          {% mlpart "ja" %}
            なぜ？<br />
            と問われると、人は一瞬戸惑ってしまう<br />
            思考が止まるからです<br />
            なぜ？<br />
            という問いに対して答えが出るまでに<br />
            わずかな一瞬が生まれます<br />
            その一瞬のギャップに真実が隠れています<br />
            あえて答えを出さずに<br />
            ことばを発する前の瞬間に留まる<br />
            その感覚の内奥に留まっている<br />
            そこに美があるのではないでしょうか<br />
            ギャップはことばよりリアルです<br />
            作品を創ること<br />
            作品を観ること<br />
            なぜ？<br />
            という問いの中に居続けること<br />
            そのわずかな隙間に美が潜んでいます
          {% endmlpart %}
        {% endmultilingual %}
      </div>
    </div>
    <div class="col-md-6 hidden-xs">
      <div class="concept-image">
        <img src="{% static 'home/images/concept-image.jpg' %}" />
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}

