{% extends "home/content-page-template.html" %}

{% block title %}ano ano galerie floor guide{% endblock %}
{% block multilingual_titles %}
  {% ml en="ano ano galerie floor guide" ja="アノアノ・ギャラリーのフロアガイド" %}
{% endblock multilingual_titles %}


{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="concept-text" class="ml">
        <span lang="en" class="ml-on ">
          Arma virumque cano, Troiae qui primus ab oris <br>
          Italiam, fato profugus, Laviniaque venit <br>
          litora, multum ille et terris iactatus et alto <br>
          vi superum saevae memorem Iunonis ob iram; <br>
          multa quoque et bello passus, dum conderet urbem, <br>
          inferretque deos Latio, genus unde Latinum, <br>
          Albanique patres, atque altae moenia Romae.
        </span>
        <span lang="ja" class="ml-off">
          私は最初のトロイの海岸から誰が、腕と男の歌う <br>
          イタリアは、運命によって追放され、Lavinian来た <br>
          ショアーズ、陸と海の両方で多くを投げされていた <br>
          留意怒りの残酷なアカウントの神々の力; <br>
          彼は街を発見できるようになるまでずっとさえ戦争で、苦しんだ <br>
          とラテン民族そこから、ラツィオに彼の神々を持って、 <br>
          アルバン父親と高いローマの壁。
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}

