{% extends "home/content-page-template.html" %}

{% load multilingual %}

{% block title %}ano ano galerie floor guide{% endblock %}
{% block multilingual_titles %}
  {% ml en="ano ano galerie floor guide" ja="アノアノ・ギャラリーのフロアガイド" %}
{% endblock multilingual_titles %}


{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% ml en="This page is still under development" ja="このページは、まだ準備中です" %}
    </div>
  </div>
</div>
{% endblock main_content %}

