{% extends "home/template-base.html" %}

{% load staticfiles multilingual %}


{# Disable the mininav for the index page, since there is already a link to each page #}
{% block mininav %}{% endblock %}

{% block main_content %}

<div id="home-logo" class="centered">
  <img src="{% static 'home/images/logo.svg' %}" />
</div>

<div id="main-navigation">

  <div class="container centered">
    <div class="btn-group-vertical">

      <a class="btn btn-default"
         href="{% url 'concept' %}">
        {% ml en="Concept" ja="コンセプト" %}
      </a>
      <a class="btn btn-default"
         href="{% url 'schedule' %}">
        {% ml en="Schedule" ja="スケジュール" %}
      </a>
      <a class="btn btn-default"
         href="{% url 'news' %}">
        {% ml en="News" ja="ニュース" %}
      </a>
      <a class="btn btn-default"
         href="{% url 'guide' %}">
        {% ml en="Floor Guide" ja="フロアガイド" %}
      </a>
      <a class="btn btn-default"
         href="{% url 'access' %}">
        {% ml en="Access" ja="アクセス" %}
      </a>

    </div>
  </div>

  <div class="scroll-but-nice" style="display:none;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 extra-padding centered">
          <a class="btn btn-default anoano-nav-button"
             href="{% url 'concept' %}">
            {% ml en="Concept" ja="コンセプト" %}
          </a>
        </div>
        <div class="col-md-4 extra-padding centered">
          <a class="btn btn-default anoano-nav-button"
             href="{% url 'schedule' %}">
            {% ml en="Schedule" ja="スケジュール" %}
          </a>
        </div>
        <div class="col-md-4 extra-padding centered">
          <a class="btn btn-default anoano-nav-button"
             href="{% url 'news' %}">
            {% ml en="News / Blog" ja="ニュース / ブログ" %}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 extra-padding col-md-offset-2 centered">
          <a class="btn btn-default anoano-nav-button"
             href="{% url 'guide' %}">
            {% ml en="Floor Guide" ja="フロアガイド" %}
          </a>
        </div>
        <div class="col-md-4 extra-padding centered">
          <a class="btn btn-default anoano-nav-button"
             href="{% url 'access' %}">
            {% ml en="Access" ja="アクセス" %}
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock main_content %}
