{% extends "home/template-base.html" %}

{% load staticfiles %}

{% block body_class %} cover-background {% endblock %}

{# Disable the mininav for the index page, since there is already a link to each page #}
{% block mininav %}{% endblock %}

{% block main_content %}
<div id="main-navigation">
  <!-- create a smooth separation between the background cover and the navigation area -->
  <div class="gradient-up"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 extra-padding">
        <a class="btn btn-default anoano-nav-button">About ano ano</a>
      </div>
      <div class="col-md-4 extra-padding">
        <a class="btn btn-default anoano-nav-button">Schedule</a>
      </div>
      <div class="col-md-4 extra-padding">
        <a class="btn btn-default anoano-nav-button">News / Blog</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 extra-padding col-md-offset-2">
        <a class="btn btn-default anoano-nav-button">Floor Guide</a>
      </div>
      <div class="col-md-4 extra-padding">
        <a class="btn btn-default anoano-nav-button">Access</a>
      </div>
    </div>
  </div>
  
</div>
{% endblock main_content %}
