{% extends "home/template-base.html" %}

{% load staticfiles multilingual %}


{# Disable the mininav for the index page, since there is already a link to each page #}
{% block mininav %}{% endblock %}

{% block main_content %}

<div id="home-logo" class="centered">
  <img src="{% static 'media/images/logo.svg' %}" />
</div>

<div id="main-navigation">
  <div class="container centered">
    {% with linkclass='front-link' %}
      <a class="{{ linkclass }}"
         href="{% url 'concept' %}">
        {% ml en="Concept" ja="コンセプト" %}
      </a>
      <a class="{{ linkclass }}"
         href="{% url 'schedule' %}">
        {% ml en="Schedule" ja="スケジュール" %}
      </a>
      <a class="{{ linkclass }}"
         href="{% url 'news' %}">
        {% ml en="News" ja="ニュース" %}
      </a>
      <a class="{{ linkclass }}"
         href="{% url 'guide' %}">
        {% ml en="Floor Guide" ja="フロアガイド" %}
      </a>
      <a class="{{ linkclass }}"
         href="{% url 'access' %}">
        {% ml en="Access" ja="アクセス" %}
      </a>
    {% endwith %}
  </div>
</div>
{% endblock main_content %}
