{% extends "home/content-page-template.html" %}

{% load staticfiles multilingual exhibition %}

{% block title %}ano ano galerie's schedule{% endblock %}

{% block multilingual_titles %}
  {% ml en="ano ano galerie's schedule" ja="アノアノ・ギャラリーのスケジュール" %}
{% endblock multilingual_titles %}


{% block main_content %}
<div class="container">

  {% exhibition_list exhibitions_now ja="今の展示" en="Happening Now" %}

  {% exhibition_list exhibitions_next ja="今度" en="Upcoming" %}

  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <hr />
    </div>
  </div>

  <div class="text-center push-top-50">
    <a class="ano-link"
       href="{% url 'schedule past' %}">
      {% ml en="Past Exhibitions" ja="前の展示" %}
    </a>
  </div>

</div>
{% endblock main_content %}
