{% extends "home/content-page-template.html" %}

{% load staticfiles multilingual exhibition %}

{% block title %}ano ano galerie's past exhibitions{% endblock %}

{% block multilingual_titles %}
  {% ml en="ano ano galerie's past exhibitions" ja="アノアノ・ギャラリーの前の展示" %}
{% endblock multilingual_titles %}


{% block main_content %}
<div class="container">

  {% exhibition_list exhibitions ja="前の展示" en="Past Exhibitions" %}

  <div class="text-center push-top-50">
    <a class="ano-link"
       href="{% url 'schedule' %}">
      {% ml en="Back to Schedule" ja="スケジュールに戻る" %}
    </a>
  </div>

</div>
{% endblock main_content %}
