{% extends "home/content-page-template.html" %}

{% load staticfiles multilingual %}

{% block title %}ano ano galerie's schedule{% endblock %}
{% block multilingual_titles %}
  {% ml en="ano ano galerie's schedule" ja="アノアノ・ギャラリーのスケジュール" %}
{% endblock multilingual_titles %}


{% block main_content %}

<div class="container">
  {% for e in exhibitions %}
  <div class="row">
    <div class="col-sm-5 col-md-4">
      <h3>
        <i>{{ e.title }}</i>{% if e.artist %}, {% endif %}
        {{ e.artist|default_if_none:"" }}
      </h3>
      <p>{{ e.start }} ~ {{ e.end }}</p>
      <p>{{ e.hours|safe }}</p>
    </div>
    <div class="col-sm-5 col-md-4">
      {% if e.picture %}
      <img style="max-width: 100%"
           src="{{ e.picture }}" />
      {% endif %}
    </div>
  </div>

  {% if not forloop.last %}
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <hr />
    </div>
  </div>
  {% endif %}

  {% endfor %}




{% comment %}
  <div class="row text-muted">
    <div class="{{ datetimeCol }}">
      {% multilingual %}
        {% mlpart "en" %}
          April 18<sup>th</sup> (Friday) <br />
          through the 27<sup>th</sup> (Sunday)
        {% endmlpart %}
        {% mlpart "ja" %}
          4月18日（金）から<br />
     &nbsp;　27日（日）まで
        {% endmlpart %}
      {% endmultilingual %}
    </div>
    <div class="{{ infoCol }}">
      {% multilingual %}
        {% mlpart "en" %}
          <h4><i>Water Mirror</i>, Ichiro Nakui</h4>
          <p>
            <span class="nakui-stanza">Seeing</span>・
            <span class="nakui-stanza">Becoming visible</span>
            <br>
            <span style="display: inline-block;">
              <span class="nakui-stanza">Listening</span>・
              <span class="nakui-stanza">Becoming audible</span>
            </span>
            <br>
            <span style="display: inline-block;">
              <span class="nakui-stanza">Merely being</span>・
              <span class="nakui-stanza">Idleness</span>
            </span>
            <br>
            <span class="nakui-stanza">Mirror</span>
          </p>
        {% endmlpart %}
        {% mlpart "ja" %}
          <h4>水鏡／名久井一郎</h4>
          <p>
            見る　観えてくる　聞く　聞こえてくる　ただ在る　無為　鏡
          </p>
        {% endmlpart %}
      {% endmultilingual %}
          <p>OPENING PARTY: April 20<sup>th</sup>  15:00~17:00</p>
    </div>
  </div>



  <div class="row">
    <div class="{{ separatorCol }}">
      <hr />
    </div>
  </div>


  <div class="row text-muted">
    <div class="{{ datetimeCol }}">
      {% multilingual %}
        {% mlpart "en" %}
          January 14<sup>th</sup> (Tuesday) <br />
          through the 26<sup>th</sup> (Sunday)
        {% endmlpart %}
        {% mlpart "ja" %}
          1月14日（火）から<br />
          26日（日）まで
        {% endmlpart %}
      {% endmultilingual %}
    </div>
    <div class="{{ infoCol }}">
      {% multilingual %}
        {% mlpart "en" %}
          <h4>Open Galerie</h4>
          <p>3pm until 8pm</p>
        {% endmlpart %}
        {% mlpart "ja" %}
          <h4>オープンギャラリー</h4>
          <p>15時から20時まで</p>
        {% endmlpart %}
      {% endmultilingual %}
    </div>
  </div>


  <div class="row">
    <div class="{{ separatorCol }}">
      <hr />
    </div>
  </div>


  <div class="row text-muted">
    <div class="{{ datetimeCol }}">
      {% ml en="January 13<sup>th</sup> (Monday)" ja="1月13日（月）" %}
    </div>
    <div class="{{ infoCol }}">
      {% multilingual %}
        {% mlpart "en" %}
          <h4>Opening Party</h4>
          <p>2pm until 7pm</p>
          <p>Musical performance by Ryoka Yoshihama on cello and Miho Komatsu on violin</p>
        {% endmlpart %}
        {% mlpart "ja" %}
          <h4>オープニングパーティー</h4>
          <p>14時から19時まで</p>
          <p>演奏者：　吉濱綾伽 / cello　小松美穂 / violin</p>
        {% endmlpart %}
      {% endmultilingual %}
    </div>
  </div>
{% endcomment %}

</div>

{% endblock main_content %}

