<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}ano ano galerie{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles %}

    <link rel="icon" type="image/png" href="{% static 'home/images/logo-16.png' %}" />

    {% block default_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles/multilingual.css' %}" />

    <link rel="stylesheet/less" type="text/css" href="{% static 'home/styles/main.less' %}" />
    {% endblock default_styles %}


    {% block styles %}{% endblock %}

    
    {% block default_prescripts %}
    <script src="{% static 'home/scripts/vendor/modernizr-2.7.1.min.js' %}"></script>
    
    <script>
      less = {
      env: "development",
      async: false,
      fileAsync: false,
      poll: 1000,
      functions: {},
      dumpLineNumbers: "comments",
      relativeUrls: false,
      rootpath: ":/www.anoanogalerie.com/"
      };
    </script>
    {# <script src="{% static 'home/scripts/vendor/less-1.6.1.min.js' %}" type="text/javascript"></script> #}
    {% endblock default_prescripts %}

    {% block prescripts %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <!--[if lt IE 8]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser. 
          Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
        <![endif]-->

    <div id="ml-titles">
      {% block multilingual_titles %}
      <span lang="en">ano ano galerie</span>
      <span lang="ja">アノアノ・ギャラリー</span>
      {% endblock %}
    </div>

    <!-- Mininavigation, to be placed at the top right of all pages -->
    {% block mininav %}
    <div class="btn-group fixed-top-right">
      <a class="btn btn-default ml" href="{% url 'index' %}">
        <span lang="en" class="ml-on ">Home</span>
        <span lang="ja" class="ml-off">ホーム</span>
      </a>
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="ml">
          <span lang="en" class="ml-on ">Other pages</span>
          <span lang="ja" class="ml-off">他のページ</span>
        </span>
        &nbsp;
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <a href="{% url 'concept' %}" class="ml">
            <span lang="en" class="ml-on ">Concept</span>
            <span lang="ja" class="ml-off">コンセプト</span>
          </a>
        </li>
        <li>
          <a href="{% url 'schedule' %}" class="ml">
            <span lang="en" class="ml-on ">Schedule</span>
            <span lang="ja" class="ml-off">スケジュール</span>
          </a>
        </li>
        <li>
          <a href="{% url 'news' %}" class="ml">
            <span lang="en" class="ml-on ">News / Blog</span>
            <span lang="ja" class="ml-off">ニュース / ブログ</span>
          </a>
        </li>
        <li>
          <a href="{% url 'guide' %}" class="ml">
            <span lang="en" class="ml-on ">Floor Guide</span>
            <span lang="ja" class="ml-off">フロアガイド</span>
          </a>
        </li>
        <li>
          <a href="{% url 'access' %}" class="ml">
            <span lang="en" class="ml-on ">Access</span>
            <span lang="ja" class="ml-off">アクセス</span>
          </a>
        </li>
      </ul>
    </div>
    {% endblock mininav %}


    {% block multilingual %}
    <div class="ml-toggle fixed-bottom-left">
      <span class="ml-indicator"></span>
      <a class="ml-option selected" lang="en">English</a>
      <a class="ml-option" lang="ja">日本語</a>
    </div>
    {% endblock multilingual %}


    <div id="super-content">
      {% block super_content %}
      <div id="top-content">
        {% block top_content %}{% endblock %}
      </div>
      <div id="main-content">
        {% block main_content %}{% endblock %}
      </div>
      {% endblock super_content %}
    </div>


    {% block default_postscripts %}
    <script src="{% static 'home/scripts/vendor/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'home/scripts/plugins.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/scripts/main.js' %}"></script>
	<script src="{% static 'home/scripts/color-spin.js' %}"></script>
	<script src="{% static 'home/scripts/multilingual.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47062761-1', 'anoanogalerie.com');
      ga('send', 'pageview');
    </script>
    {% endblock default_postscripts %}

    
    {% block postscripts %}{% endblock %}

  </body>
</html>

