@import (less) "generic.less";
@import (less) "gradient.less";




body {
    height: 100%;
}

#main-content {
    margin-bottom: 4em;
}

#home-logo {
    margin: 20px 0;
}

#main-navigation {
    width: 100%;

    .btn-group-vertical {
        width: 150px;
        margin: 20px 0;
    }
}

.ano-link {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent;
    font-weight: bold;
    color: black !important;
    text-decoration: none !important;
    font-variant: small-caps;
    &:hover {
        border-color: black;
    }
}

.front-link {
    .ano-link;
    display: block;
    font-size: 20px;
    width: 180px;
    margin: 5px auto;
}

#mininav {
    z-index: 10;
    .dropdown-toggle {
        z-index: 1;
    }
    .dropdown-menu {
        border-radius: 0;
    }
}


#anoano-banner {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#anoano-logo {
    img {
        height: 90px;
        max-width: 30%;
        border-radius: 100px;
    }
}

#anoano-name {
    img {
        max-width: 90%;
    }

    display: none;
}

.extra-padding {
    padding-left: 60px;
    padding-right: 60px;
}

.fixed-bottom-left {
    position: fixed;
    bottom: 16px;
    left: 16px;
}

.fixed-top-right {
    position: fixed;
    top: 16px;
    right: 16px;
}


.white {
    background-color: white;
}

.centered {
    text-align: center;
}


.concept-image {
    img {
        max-width: 100%;
    }
}

#concept-text {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 7em;
    margin-bottom: 4em;
}


.galleria {
    margin-top: 60px;
    height: 250px;
}