
body {
    height: 100%;
}

.cover-background {
    background: url('../images/cover.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-navigation {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 24px;
    background-color: white;
}

.extra-padding {
    padding-left: 60px;
    padding-right: 60px;
}

.anoano-nav-button {
    font-size: 22px;
    width: 100%;
    margin: 1em 0;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 12px;
    background-color: lavender;
}

.fixed-bottom-left {
    position: fixed;
    bottom: 16px;
    left: 16px;
}

.fixed-top-right {
    position: fixed;
    top: 16px;
    right: 16px;
}

.gradient-up {
    background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    position: relative;
    margin-top: -50px;
    height: 50px;
}

.white {
    background-color: white;
}

#main-title {
    background: url('../images/name-large-400.png') no-repeat center;
    height: 80px;
    margin-top: 80px;
    opacity: 0;
}

#photo-credit {
	position: relative;
	margin-top: -5em;
	color: beige;
}

.centered {
    width: 100%;
    text-align: center;
}

#access-image {
    width: 100%;
    max-width: 960px;
/*    opacity: 0.1;*/
    background-color: white;
}
