
.ml-off {
    display: none;
}

.ml-toggle {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}

.ml-indicator {
    margin: -2px -7px;
    width: 73px;
    height: 28px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
}

.ml-toggle a {
    margin-right: 1em;
    cursor: pointer;
    font-size: large;
}

.ml-toggle a:last-of-type {
    margin-right: 0;
}

#ml-titles {
    display: none;
}