@import (less) "generic.less";
@import (less) "gradient.less";

@ml-bg-color: rgba(0, 48, 48, 0.9);
@ml-color: grey;


.ml-off {
    display: none;
}

.ml-switch-position {
}

.ml-toggle {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 6px 12px 8px 12px;
    z-index: 10;

    background-color: @ml-bg-color;
}


.gradient-border-15 {
    .gradient-border( @ml-bg-color, 15px );
}



.ml-indicator {
    margin: -2px -7px;
    width: 73px;
    height: 28px;
    border: 2px solid @ml-color;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
}

.ml-toggle a {
    margin-right: 1em;
    cursor: pointer;
    font-size: large;
    color: @ml-color;
}

.ml-toggle a:last-of-type {
    margin-right: 0;
}

#ml-titles {
    display: none;
}
