@import (less) "generic.less";
@import (less) "gradient.less";

@ml-bg-color: rgba(0, 0, 0, 0.8);

.ml-off {
    display: none;
}

.ml-toggle {
    z-index: 10;
    background-color: @ml-bg-color;
}

.on-left( @w ) {
    position: relative;
    margin-left: -@w;
    height: inherit;
}

#ml-gradient {
    &-top {
        .gradient-up( @ml-bg-color );
        .on-top( 16px );
    }

    &-left {
        .gradient-left( @ml-bg-color );
        .on-left( 16px );
    }
}


.ml-indicator {
    margin: -2px -7px;
    width: 73px;
    height: 28px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
}

.ml-toggle a {
    margin-right: 1em;
    cursor: pointer;
    font-size: large;
}

.ml-toggle a:last-of-type {
    margin-right: 0;
}

#ml-titles {
    display: none;
}