
.gr {
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
}

.g1 {
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 81%,rgba(255,255,255,0) 100%);
}

.f {
    position: fixed;
}

.tr {
    top: 12px;
    right: 12px;
}

.bl {
    bottom: 12px;
    left: 12px;
}

.ml-indicator {
    margin: -1px -4px;
    width: 50px;
    height: 22px;
    border: 1px dotted black;
    border-radius: 7px;
    position: absolute;
    z-index: -3;
}

.ml-toggle a {
    margin-right: 1em;
}

.ml-toggle a:last-of-type {
    margin-right: 0;
}

.ml span {
    position:absolute;
}

.big {
    font-size: 150%;
}
