{% load multilingual %}
<div class="row">
  <div class="col-sm-6 col-lg-5 col-lg-offset-1">
    <h3>
      <span>{% ml e.ml_title %}</span>
      {% if e.artist %}
        <span>　</span>
        {% if e.artist.website %}
          <a href="{{ e.artist.website }}">
            <small class="exhibition-artist">
              {% ml e.ml_artist %}
            </small>
          </a>
        {% else %}
          <small class="exhibition-artist">
            {% ml e.ml_artist %}
          </small>
        {% endif %}
      {% endif %}
    </h3>
    {% if e.brief %}
      <h4>{% ml e.ml_brief %}</h4>
    {% endif %}
    {% for shop in e.shops.all %}
      <p class="exhibition-webshop">
        <a href="{% url 'webshop' shop.id %}">
          {% ml en="Web shop for this exhibition" ja="この展示のウェブショップ" %}
        </a>
      </p>
    {% endfor %}
    <p>{{ e.start }} ~ {{ e.end }}</p>
    {% if e.lengthy %}
      <p>{% ml e.ml_lengthy %}</p>
    {% endif %}
    <p>{% ml e.ml_hours %}</p>
  </div>
  <div class="col-sm-6 col-lg-5">
    {% if e.picture %}
    <img style="max-width: 100%"
         src="{{ e.picture }}" />
    {% endif %}
  </div>
</div>
